.about {
    margin: 20px;
    border: 1px solid grey;
    padding: 20px;
    background-color: white;

    h1 {
        text-align: center;
    }

    img {
        border-radius: 2%;
        width: auto;
        height: 300px;
        margin: 10px;
    }

    .process {
        border-bottom: 1px solid grey;
    }
}