<div class="about">
  <h1 id="name">
    Hi! My name Mariam Qasim
  </h1>

  <div class="process">
    <h2 class="process">About this application and my process:</h2>
    <p>I spun this application up in 24 hours. I used Angular and
      Material design for Angular to help build this page. I used HTML, SCSS, JavaScript, and TypeScript to build out
      this
      page.</p>
    <h3>First Page: </h3>
    <p class="text">
      As instructed in the directions, I used the example query in the directions to list books using
      the
      Google API.
    </p>
    <h3>Second Page: </h3>
    <p>
      The second page allows the user to query any books, and will return information such as the title, author,
      thumbnail, and a text description. I also provided a link for the user to click, where it will redirect to a
      preview
      of the book listed.
    </p>
    <h3>Challenges: </h3>
    <p>
      The most challenging aspect was probably learning how to use Material for Angular, as I have never used it before.
      It was challenging getting the page to be responsive, and if I had not aspired to finish this in one day, I would
      have probably started over and used bootstrap instead.
    </p>
    <br>
    <h3>Side note:</h3>
    <p class="text">
      If you would like me to provide an example of a regular HTML page, which I can definitely do, it just was not
      necessary for
      an Angular application.
    </p>
  </div>

  <br>
  <div>
    <h1>My story</h1>
    <img src="/assets/mapleandi.jpg" alt="Maple">


    <h3>Education:</h3>
    <p class="text">
      Even though I am a web developer,
      I went to Appalachian State University and received degrees in both Psychology and Political Science.
    </p>
    <p>How did I get into this career? To sum it up, at first I taught myself how to code, and
      I also attended three different bootcamp courses to learn front end engineering. Each course lasted about 12
      weeks,
      which took up about a year of learning.</p>
    <br>
    <h3>Career:</h3>
    <p class="text">
      I have worked in a start-up company that created Mobile and Web based applications for celebrities to manage their
      content.
      I worked at a big bank in the United States, Bank of America, as a contractor.
      Currently, I am working as a web developer and consultant in
      Charlotte, NC.</p>
    <br>
    <p>My resume lists detailed information, but to summarize I have experience in javascript development, web design,
      responsive web development, project management, and business analyst work.</p>
    <br>
    <h3>What about having fun?</h3>
    <p>
      I am a world traveler, as I have been to almost 50 countires.
      In fact I will be soon heading to Belgium in a few weeks.
      I usually spend my time with friends, and my golden retriever.
      I love live music,reading and hiking. I look forward to talking with you soon!
      <br>
      I have plans to move to Europe, specifically the Netherlands, and have been searching for the right
      oppurtunity.
      <br>
      I found this job listed and it seemed like a nice match for my experience and utilizaiton.
      <br>
      <br>
      <br>
    </p>
    <img src="/assets/park.png" alt="Park">
    <img src="/assets/maplemorning.png" alt="Maple">
    <img src="/assets/iceland.jpg" alt="Iceland">
    <img src="/assets/maplebalcony.jpg" alt="Maple">



  </div>


</div>